In [1]:
import pandas as pd
import plotly.express as px

In [2]:
data = pd.read_csv("data.csv", sep = ',')
data = data.drop("Tijdstempel", axis = 1)

def calc_score(array):
    num1, num2 = array.split('/')
    return round(int(num1) / int(num2) * 100)
def calc_points(array):
    return int(array.split()[0])
    
data = data.rename({"Wat is uw leeftijd in cijfers?": "leeftijd", 
                    "Wat is uw geslacht?":"geslacht",
                   "Wat is het niveau waaraan u momenteel studeert of heeft gestudeerd, indien u al werkt?": "niveau",
                   "Wat is uw vakgebied of studierichting?": "vakgebied",
                   "Is uw vakgebied of studierichting direct gerelateerd aan technische onderwerpen zoals ICT, kunstmatige intelligentie en AI-generatoren?"
                   : "relatie-vakgebied", "In hoeverre bent u bekend met AI-generatoren?":"bekendheid-AI",
                    'Hoe vaardig acht u uzelf in het begrijpen van de werking van AI-generatoren?': 'vaardigheid-AI',
                   'Hoe regelmatig gebruikt u zelf AI-generatoren in uw studie of werk? (ChatGPT, DALL-E, Bard)':'regelmaat-AI',
                   'Waar heeft u AI-generatoren voorheen voor gebruikt, indien van toepassing?':'gebruik-AI',
                   'Hoeveel vertrouwen heeft u in uw vermogen om onderscheid te maken tussen door AI gegenereerde en authentieke afbeeldingen?'
                   :'vertrouwen-Onderscheid', 'Vul uw starttijd in':'starttijd',
                   'Vul uw eindtijd in:': "eindtijd",
                   'Score': 'score',
                   'Heeft u tijdens de survey nieuwe informatie opgedaan over AI-generatoren die u eerder niet kende?':
                   'nieuwe-kennis',
                   'In hoeverre heeft uw deelname aan deze survey invloed gehad op uw vertrouwen in het onderscheiden van  authentieke en door AI gegenereerde afbeeldingen?':
                   'invloed-survey',
                   'Wat vond u van de moeilijkheidsgraad van de afbeeldingen?': 'moeilijkheid',
                   "Hoeveel foto's denkt u correct te hebben onderscheiden tijdens de survey?": "inschatting"}, axis = 'columns')

In [3]:
for geslacht in data['geslacht'].unique():
    print(geslacht, data[data['geslacht'] == geslacht].count())

Vrouw score             131
leeftijd          131
geslacht          131
niveau            131
vakgebied         131
                 ...
eindtijd          131
nieuwe-kennis     131
invloed-survey    131
moeilijkheid      131
inschatting       131
Length: 77, dtype: int64
Man score             88
leeftijd          88
geslacht          88
niveau            88
vakgebied         88
                  ..
eindtijd          88
nieuwe-kennis     88
invloed-survey    88
moeilijkheid      88
inschatting       88
Length: 77, dtype: int64
Non-binair score             1
leeftijd          1
geslacht          1
niveau            1
vakgebied         1
                 ..
eindtijd          1
nieuwe-kennis     1
invloed-survey    1
moeilijkheid      1
inschatting       1
Length: 77, dtype: int64

In [4]:
def niveau_clean(cel):
    if cel == "Universitair (Bachelor/Master/PhD)":
        return "Universitair"
    else:
        return cel
    
data['niveau'] = data['niveau'].apply(niveau_clean)

In [5]:
def bekendheid(cel):
    if cel != "Nee":
        return "Ja"
    else:
        return "Nee"

data['relatie-vakgebied'] = data['relatie-vakgebied'].apply(bekendheid)

In [6]:
fotodic = {str(i)+": Is deze foto echt of nep?": "foto-"+str(i) for i in range(1,31)}
fotodescr = {"Indien u nep heeft geselecteerd, licht toe welke aspecten van de afbeelding onnatuurlijk zijn voor u. ." + str(i): "toelichting-"+str(i+1) for i in range(1,31)}
enekkrkolomxdd = {"Indien u nep heeft geselecteerd, licht toe welke aspecten van de afbeelding onnatuurlijk zijn voor u. ":"toelichting-1"}
dic = fotodic | fotodescr | enekkrkolomxdd
data = data.rename(dic, axis = 'columns')

In [7]:
def omzet_tijd(tijd):
    minuten = 0
    minuten += int(tijd.split(":")[0]) * 60
    minuten += int(tijd.split(":")[1])
    return minuten

data['startminuten'] = data['starttijd'].apply(omzet_tijd) 
data['eindminuten'] = data['eindtijd'].apply(omzet_tijd) 
data['tijd'] = data['eindminuten'] - data['startminuten']

In [8]:
import math
def to_numeric(array):
    if array == "18,75":
        return 18
    return math.floor(float(array))
    

data["leeftijd"] = data["leeftijd"].apply(to_numeric)
data = data[data["leeftijd"] > 17]
data = data[data["tijd"] > 0]
data = data[data["tijd"] < 600]

for i in range (1,31):
    data = data[data["foto-"+str(i)] != "Nep, Echt"]
    data = data[data["foto-"+str(i)] != "Echt, Nep"]

In [9]:
def convert_answer(answer):
    if answer == "Echt":
        return 1
    elif answer == "Nep":
        return 0
    else:
        return 999

for i in range (1,31):
    data["foto-"+str(i)] = data["foto-"+str(i)].apply(convert_answer)

In [10]:
answers = {1: 1, 2: 1, 3: 0, 4:1,
           5:0,6:1,7:0,8:1,9:0,
           10:0,11:1,12:1,13:0,
           14:1,15:1,16:0,17:1,
           18:0,19:0,20:1,21:1,
           22:0,23:1,24:0,25:1,
           26:1,27:0,28:0,29:1, 
           30:0
          }

def check_answer1(array):
    if array == 1:
        return 1
    else:
        return 0

def check_answer0(array):
    if array == 0:
        return 1
    else:
        return 0
        
df = data.copy()
df = df[['foto-1', 'foto-2', 'foto-3', 'foto-4', 'foto-5', 'foto-6', 'foto-7', 'foto-8', 'foto-9', 'foto-10',
         'foto-11', 'foto-12', 'foto-13', 'foto-14', 'foto-15', 'foto-16', 'foto-17', 'foto-18', 'foto-19', 'foto-20',
         'foto-21', 'foto-22', 'foto-23', 'foto-24', 'foto-25', 'foto-26', 'foto-27', 'foto-28', 'foto-29', 'foto-30']]

df['foto-1'] = df['foto-1'].apply(check_answer1)
df['foto-2'] = df['foto-2'].apply(check_answer1)
df['foto-3'] = df['foto-3'].apply(check_answer0)
df['foto-4'] = df['foto-4'].apply(check_answer1)
df['foto-5'] = df['foto-5'].apply(check_answer0)
df['foto-6'] = df['foto-6'].apply(check_answer1)
df['foto-7'] = df['foto-7'].apply(check_answer0)
df['foto-8'] = df['foto-8'].apply(check_answer1)
df['foto-9'] = df['foto-9'].apply(check_answer0)
df['foto-10'] = df['foto-10'].apply(check_answer0)
df['foto-11'] = df['foto-11'].apply(check_answer1)
df['foto-12'] = df['foto-12'].apply(check_answer1)
df['foto-13'] = df['foto-13'].apply(check_answer0)
df['foto-14'] = df['foto-14'].apply(check_answer1)
df['foto-15'] = df['foto-15'].apply(check_answer1)
df['foto-16'] = df['foto-16'].apply(check_answer0)
df['foto-17'] = df['foto-17'].apply(check_answer1)
df['foto-18'] = df['foto-18'].apply(check_answer0)
df['foto-19'] = df['foto-19'].apply(check_answer0)
df['foto-20'] = df['foto-20'].apply(check_answer1)
df['foto-21'] = df['foto-21'].apply(check_answer1)
df['foto-22'] = df['foto-22'].apply(check_answer0)
df['foto-23'] = df['foto-23'].apply(check_answer1)
df['foto-24'] = df['foto-24'].apply(check_answer0)
df['foto-25'] = df['foto-25'].apply(check_answer1)
df['foto-26'] = df['foto-26'].apply(check_answer1)
df['foto-27'] = df['foto-27'].apply(check_answer0)
df['foto-28'] = df['foto-28'].apply(check_answer0)
df['foto-29'] = df['foto-29'].apply(check_answer1)
df['foto-30'] = df['foto-30'].apply(check_answer0)
display(df)


data['score'] = data['score'].apply(calc_score)
display(data)

,foto-1,foto-2,foto-3,foto-4,foto-5,foto-6,foto-7,foto-8,foto-9,foto-10,...,foto-21,foto-22,foto-23,foto-24,foto-25,foto-26,foto-27,foto-28,foto-29,foto-30
0,1,0,0,0,0,1,0,0,0,1,...,1,1,1,0,1,1,0,1,1,1
1,1,1,0,0,1,1,0,0,1,1,...,1,1,1,1,1,1,0,1,1,0
2,1,1,1,0,0,1,0,1,1,1,...,0,1,1,0,0,0,1,1,1,1
3,0,1,0,0,0,1,1,1,0,1,...,1,1,1,0,0,1,0,1,1,1
4,1,1,1,0,0,1,0,1,0,1,...,1,1,1,0,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,1,1,1,0,0,1,0,1,1,1,...,1,1,1,0,0,0,0,1,1,1
215,1,1,1,1,0,1,0,1,1,1,...,0,1,1,0,0,1,0,1,1,1
216,1,0,1,0,1,1,1,1,0,1,...,1,1,1,1,1,1,0,1,1,1
218,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
219,1,1,0,1,0,1,0,1,0,1,...,1,1,1,0,1,1,0,1,1,1

,score,leeftijd,geslacht,niveau,vakgebied,relatie-vakgebied,bekendheid-AI,vaardigheid-AI,regelmaat-AI,gebruik-AI,...,foto-30,toelichting-30,eindtijd,nieuwe-kennis,invloed-survey,moeilijkheid,inschatting,startminuten,eindminuten,tijd
0,57,56,Vrouw,HBO,Toerisme,Nee,3,3,3,Teksten genereren (ChatGPT),...,0,Gefotoshopt,21:20:00,Ja,2,4,2,1272,1280,8
1,73,41,Vrouw,HBO,Onderwijs,Nee,3,3,3,Teksten genereren (ChatGPT),...,1,NaN,21:22:00,Nee,3,5,5,1273,1282,9
2,60,36,Vrouw,HBO,Reclame communicatie,Nee,1,1,1,Niet van toepassing,...,0,NaN,21:23:00,Nee,3,3,4,1280,1283,3
3,60,57,Vrouw,MBO,.,Nee,1,1,1,Niet van toepassing,...,0,Persoon te onecht,21:24:00,Nee,3,3,6,1277,1284,7
4,60,55,Vrouw,HBO,Schoonheidsspecialiste,Nee,4,1,1,Niet van toepassing,...,0,NaN,21:26:00,Nee,2,4,6,1283,1286,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,60,48,Vrouw,Universitair,Geneeskunde / medisch,Ja,2,1,2,Antwoord op vraag zoeken,...,0,Ongeloofwaardig,10:15:00,Nee,3,4,4,598,615,17
215,67,36,Vrouw,Middelbare school,E-commerce,Nee,3,2,3,Teksten genereren (ChatGPT),...,0,Scenario en kleuren,10:24:00,Nee,1,5,4,601,624,23
216,80,20,Man,Universitair,Informatiekunde,Ja,4,4,3,Teksten genereren (ChatGPT),...,0,onreallistisch,13:54:00,Nee,5,2,8,824,834,10
218,100,32,Man,HBO,Techniek,Nee,4,3,2,"Afbeeldingen genereren (DALL-E, Midjourney)",...,0,"Raar hoofd, vreemde belichting, sterk perspectief",19:53:00,Nee,3,3,9,1170,1193,23
219,70,64,Vrouw,Universitair,Film,Nee,1,1,1,Niet van toepassing,...,0,Vreemd hoofd,20:08:00,Ja,4,3,8,1200,1208,8

In [11]:
for geslacht in data['geslacht'].unique():
    print(geslacht, data[data['geslacht'] == geslacht].count())

Vrouw score           118
leeftijd        118
geslacht        118
niveau          118
vakgebied       118
               ...
moeilijkheid    118
inschatting     118
startminuten    118
eindminuten     118
tijd            118
Length: 80, dtype: int64
Man score           75
leeftijd        75
geslacht        75
niveau          75
vakgebied       75
                ..
moeilijkheid    75
inschatting     75
startminuten    75
eindminuten     75
tijd            75
Length: 80, dtype: int64

In [13]:
data.to_csv("data_clean.csv")
data.to_excel("data_clean.xlsx")
df.to_excel("points.xlsx")